:root {
  --bg-color-body: #1e1e1e;
  --bg-gradient-body: radial-gradient(
      98.66% 88.12% at 2.19% 47.71%,
      rgba(250, 0, 240, 0.27) 0%,
      rgba(149, 59, 81, 0) 100%
    ),
    linear-gradient(90deg, rgba(38, 77, 153, 0) 0%, rgba(0, 0, 0, 0.44) 105.38%);
  --bg-section: rgba(255, 255, 255, 0.06);

  --shadow-section: 0 0.8rem 1rem rgba(0, 0, 0, 0.25);

  --padding-vertical-outer: 3rem;
  --padding-horizontal-outer: 1.5rem;
  --padding-inner: 5rem;

  --border-radius-section: 1rem;

  --color-off-white: #fcfcfc;
  --color-off-black: #0d0d0d;
  --color-gray: #d9d9d9;
  --color-green: #1bdf97;
}

html {
  box-sizing: border-box;

  font-size: 10px;

  height: 100%;

  color: var(--color-primary-text);
}

body {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

// To remove unnecessary spans which gets rendered by rich text editor
span:empty,
p:empty {
  display: none;
}

::selection {
  background-color: var(--color-green);
  color: var(--color-off-black);
}

%df {
  display: flex;
}

%fdr {
  flex-direction: row;
}

%fdc {
  flex-direction: column;
}

%jcc {
  justify-content: center;
}

%jca {
  justify-content: space-around;
}

%jcb {
  justify-content: space-between;
}

%jce {
  justify-content: space-evenly;
}

%aic {
  align-items: center;
}

%fw {
  flex-wrap: wrap;
}

.cl__wrapper {
  padding: var(--padding-vertical-outer) var(--padding-horizontal-outer);

  background-color: var(--bg-color-body);
  background-image: var(--bg-gradient-body);
}

.cl__header {
  background-color: var(--bg-section);

  border-radius: var(--border-radius-section);
  box-shadow: var(--shadow-section);

  padding: 0 var(--padding-inner);

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    width: 8rem;
    height: 8rem;
    position: relative;
  }
}

.cl__nav {
  ul {
    display: flex;
    list-style: none;
  }

  li + li {
    margin-left: 2rem;
  }

  a {
    color: var(--color-off-white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;

    border-radius: var(--border-radius-section);

    transition: all 0.25s ease-in-out;

    &:hover,
    &.active {
      background-color: var(--color-green);
      color: var(--color-off-black);
    }
  }
}

.cl__feature-section {
  background-color: var(--bg-section);

  border-radius: var(--border-radius-section);
  box-shadow: var(--shadow-section);

  padding: var(--padding-inner);
  margin-top: var(--padding-vertical-outer);
  min-height: 55rem;

  display: flex;
  align-items: center;

  @media screen and (width < 770px) {
    flex-direction: column;
  }
}

.cl__feature-box {
  flex-basis: 50%;
  position: relative;

  text-align: center;
  text-wrap: balance;

  @media screen and (width < 770px) {
    order: 2;
  }
}

.cl__feature-heading {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-off-white);

  @media screen and (width < 770px) {
    font-size: 3rem;

    margin-top: calc(var(--padding-horizontal-outer) * 2);
  }
}

.cl__feature-description {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-gray);
  line-height: 1.7;

  margin-top: 2rem;
}

.cl__feature-cta {
  display: flex;
  align-items: center;

  max-width: 22rem;

  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-off-black);
  background-color: var(--color-green);
  text-decoration: none;
  text-transform: capitalize;

  outline: none;
  border: 0.3rem solid transparent;
  border-radius: var(--border-radius-section);

  padding: 1rem 1.5rem;
  margin: 3rem auto 0;

  cursor: pointer;

  transition: all 0.25s ease-in-out;

  svg {
    margin-left: 1.5rem;
  }

  &:hover {
    border-color: var(--color-green);
    background-color: transparent;
    color: var(--color-green);
  }
}

.cl__feature-image {
  min-height: 50rem;
  width: 100%;

  @media screen and (width < 770px) {
    order: 1;
  }
}

.cl__connect-icons {
  color: var(--color-off-white);

  width: 5rem;
  height: 5rem;

  margin-top: var(--padding-horizontal-outer);

  transition: color 0.25s ease-in-out;

  &:hover {
    color: var(--color-green);
  }

  + .cl__connect-icons {
    margin-left: 3rem;
  }
}

.cl__footer {
  background-color: var(--bg-section);

  border-radius: var(--border-radius-section);
  box-shadow: var(--shadow-section);

  padding: var(--padding-horizontal-outer);
  margin-top: var(--padding-vertical-outer);

  display: flex;
  justify-content: center;

  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-off-white);
}

.cl__banner {
  background-color: var(--bg-section);
  background-image: radial-gradient(
    42.11% 94.44% at 50% 5.56%,
    rgba(133, 76, 255, 0.61) 0%,
    rgba(181, 115, 248, 0) 100%
  );

  border-radius: var(--border-radius-section);
  box-shadow: var(--shadow-section);

  padding: var(--padding-horizontal-outer);
  margin-top: var(--padding-vertical-outer);

  min-height: 40rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (width < 550px) {
    min-height: 25rem;
  }
}

.cl__banner-title {
  font-size: 7rem;
  font-weight: 700;
  color: var(--color-off-white);
  letter-spacing: 1px;
}

.cl__articles-wrapper {
  margin-top: var(--padding-vertical-outer);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--padding-horizontal-outer) * 2);

  @media screen and (width < 770px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width < 550px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cl__article-card {
  background-color: var(--bg-section);

  border-radius: var(--border-radius-section);
  box-shadow: var(--shadow-section);

  padding: calc(var(--padding-horizontal-outer) * 2);

  color: var(--color-off-white);

  scale: 1;

  transition: scale 0.25s ease-in-out;

  &:hover {
    scale: 1.05;
  }
}

.cl__icon {
  display: flex;
  justify-content: center;
}

.cl__article-heading {
  font-size: 2.4rem;
  font-weight: 600;

  margin: var(--padding-horizontal-outer) 0;

  &:hover {
    a {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }
  }

  a {
    color: var(--color-off-white);

    text-decoration: none;

    transition: all 0.25s ease-in-out;
  }
}

.cl__article-description {
  font-size: 1.8rem;
  line-height: 1.5;

  margin-bottom: var(--padding-horizontal-outer);
}

.cl__article-time {
  display: flex;
  justify-content: flex-end;

  font-size: 1.4rem;
}

.cl__article-details {
  margin-top: var(--padding-vertical-outer);
  padding: var(--padding-inner);

  background-color: var(--bg-section);
  border-radius: var(--border-radius-section);
  box-shadow: var(--shadow-section);

  color: var(--color-off-white);
}

[class^="cl__heading"] {
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

.cl__heading-2 {
  font-size: 3rem;
}

.cl__heading-3 {
  font-size: 2.4rem;
}

.cl__heading-4 {
  font-size: 2rem;
}

.cl__heading-5 {
  font-size: 1.8rem;
}

.cl__heading-6 {
  font-size: 1.6rem;
}

.cl__paragraph {
  font-size: 1.8rem;
  line-height: 1.5;
  word-break: break-word;
  margin-bottom: 3rem;
}

.cl__unordered,
.cl__ordered {
  padding-left: 5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.cl__strong {
  font-weight: 800;
}

.cl__code {
  font-weight: 400;
  background-color: var(--color-gray);
  color: var(--color-off-black);
  padding: 0.2rem;
}

.cl__underline {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.cl__strike-through {
  text-decoration: line-through;
}

.cl__quote {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-gray);
  font-style: italic;

  padding: 2rem;
  margin-top: var(--padding-vertical-outer);
  margin-bottom: var(--padding-vertical-outer);

  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 0.5rem;

    background-color: var(--color-green);
  }
}

.cl__example-image {
  max-width: 100%;

  margin-top: var(--padding-vertical-outer);
  margin-bottom: var(--padding-vertical-outer);
}

.cl__code-syntax__wrapper {
  margin-top: var(--padding-vertical-outer);
  margin-bottom: var(--padding-vertical-outer);
  pre {
    margin: 0 !important;
    font-size: 1.6rem !important;
  }
}

.cl__copy-code__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-off-black);
  color: var(--color-off-white);

  padding: 1rem 3rem;

  strong {
    font-size: 1.8rem;
    font-weight: 400;
  }

  button {
    background-color: transparent;
    outline: none;
    border: 0;
  }

  svg {
    width: 2rem;
    height: 2rem;
    color: var(--color-gray);
    cursor: pointer;
  }
}

.cl__back {
  margin-top: var(--padding-vertical-outer);
  padding: calc(var(--padding-inner) / 2) var(--padding-inner);

  background-color: var(--bg-section);
  border-radius: var(--border-radius-section);
  box-shadow: var(--shadow-section);

  font-size: 1.6rem;

  a {
    display: flex;
    align-items: center;
    color: var(--color-gray);
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
  }
}
